## Unit 2 - Intro to Data Science Toolkit

To demonstrate I understand how to work with files in Pandas and Numpy, I am reading in datasets from csv, xml, and json. I am selecting and grouping data from those sets and exporting subsequent dataframes as csv files.

In [2]:
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET
import matplotlib.pyplot as plt

%matplotlib inline

In [1]:
direct = 'unit2_io_files/'

#### Load CSV file

In [5]:
csv_file = 'purchases.csv'
purchases = pd.read_csv(direct+csv_file)

#### Load JSON

In [27]:
json_file = 'purchases.json'
purchases= pd.read_json(direct+json_file)

#### Rename unamed column

In [33]:
purchases = purchases.rename(index = str, columns = {'Unnamed: 0': 'name', 'ad_views': 'ad_views', 'country':'country', 'items_purchased':'items_purchased'})

#### Load XML file

In [39]:
tree = ET.parse(direct+'purchases.xml')

In [135]:
rows = []
for branch in tree.iter():
    row = []
    for child in branch.getchildren():
        if (child.text).isalpha() or (child.text).isnumeric() :
            row.append(child.text)
    if len(row)>0:
        rows.append(row)

In [136]:
purchases = pd.DataFrame(rows)

In [105]:
names = [row[0] for row in rows]
country = [row[1] for row in rows]
items_purchased = [row[3] for row in rows]
ad_views = [row[2] for row in rows]

In [109]:
purchases = pd.DataFrame({'name': names, 'country': country, 'items_purchased': items_purchased, 'ad_views':ad_views})

  ad_views country items_purchased      name
0       16      US               2    George
1       42     CAN               1      John
2       32     CAN               0    Thomas
3       13      US               8     James
4       63     CAN               0    Andrew
5       19      US               5    Martin
6       65      US               7   William
7       23      US               3   Zachary
8       16     CAN               0   Millard
9       77      US               5  Franklin

#### Set index as name

In [35]:
purchases = purchases.set_index('name')