In [3]:
import pandas as pd

Use this dataset of airline arrival information to predict how late flights will be. A flight only counts as late if it is more than 30 minutes late.  

http://stat-computing.org/dataexpo/2009/the-data.html

	Name	Description
1	Year	1987-2008  
2	Month	1-12  
3	DayofMonth	1-31  
4	DayOfWeek	1 (Monday) - 7 (Sunday)  
5	DepTime	actual departure time (local, hhmm)  
6	CRSDepTime	scheduled departure time (local, hhmm)  
7	ArrTime	actual arrival time (local, hhmm)  
8	CRSArrTime	scheduled arrival time (local, hhmm)  
9	UniqueCarrier	unique carrier code  
10	FlightNum	flight number  
11	TailNum	plane tail number  
12	ActualElapsedTime	in minutes  
13	CRSElapsedTime	in minutes  
14	AirTime	in minutes  
15	ArrDelay	arrival delay, in minutes  
16	DepDelay	departure delay, in minutes  
17	Origin	origin IATA airport code  
18	Dest	destination IATA airport code  
19	Distance	in miles  
20	TaxiIn	taxi in time, in minutes  
21	TaxiOut	taxi out time in minutes  
22	Cancelled	was the flight cancelled?  
23	CancellationCode	reason for cancellation (A = carrier, B = weather, C = NAS, D = security)  
24	Diverted	1 = yes, 0 = no  
25	CarrierDelay	in minutes  
26	WeatherDelay	in minutes  
27	NASDelay	in minutes  
28	SecurityDelay	in minutes  
29	LateAircraftDelay	in minutes

In [7]:
df = pd.read_csv('2008.csv', nrows=1000)

In [10]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [14]:
df['late'] = [1 if arrdelay >30 else 0 for arrdelay in df.ArrDelay]

In [15]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,late
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1

In [ ]:
df = pd.get_dummies(df_pre.loc[:, ~(df_pre.columns).isin(['gender'])])

In [16]:
X = df.loc[:, ~df.columns.isin(['late', 'FlightNum','Year'])]
y = df['late']